<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= restaurant.name %></title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1>Home Page</h1>
  <h2>Restaurant Details</h2>
  <p>Name:  <%= restaurant.name %></p>
  <p>Address: <%= restaurant.address %></p>
  <p>Phone: <%= restaurant.phone %></p>
  <p>
    <%= restaurant.isOpen ? 'Yes we are open!' : 'Sorry, we are closed.' %>
  </p>
</body>
</html>
